<!-- User list -->
<div>
    <h1>User Management Portal</h1>
    <h2>User List</h2>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john.doe@email.com</td>
          <td>
            <button>Delete</button>
            <button>Update</button>
          </td>
        </tr>
        <tr>
          <td>Harvey</td>
          <td>Specter</td>
          <td>harvey.spectere@email.com</td>
          <td>
            <button>Delete</button>
            <button>Update</button>
          </td>
        </tr>
        <tr>
          <td>Joe</td>
          <td>Smith</td>
          <td>joe.smith@email.com</td>
          <td>
            <button>Delete</button>
            <button>Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>